.skill-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */    
    box-shadow: 0 4px 8px rgba(26, 100, 197, 1.0);


  }